<form action="/generate" method="POST" class="w-50 d-flex flex-column align-items-center">
  <input type="url" name="url" placeholder="Input URL here..." class="form-control">
  <button type="submit" class="btn btn-outline-primary mt-3 w-25">Shorten</button>
</form>